@keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .slideLeft {
    animation: slideLeft 0.5s ease-out forwards;
  }
  
  .slideInFromRight {
    animation: slideInFromRight 0.5s ease-out forwards;
  }
  